#About you
DELEGATE=cryptology
SECRET=
#SECOND_SECRET= 

#Network
#NETWORK_VERSION=23
#FEE=0.0035
#BLOCK_REWARD=2

#Your proposal
PAYOUT=0.9
PAYOUT_FEES=0.9
PAYOUT_ACF=0.05
#MIN_PAYOUT_VALUE=0.25
ADMIN_PAYOUT_LIST='{"address1": {"percentage":0.8, "vendorField": "text"}, "address2": {"percentage":0.2, "vendorField": "text"}}'
#CUSTOM_PAYOUT_LIST = '{"address1":0.5,"address2":1}' 
#CUSTOM_REDIRECTIONS = '{"address1From":"address1To", "address2From":"address2To"}'
#MIN_BALANCE=0.5 
#POOL_HOPPING_PROTECTION=false

#How many recent forged blocks to max process (e.g. 6400 is around 1 month).
#MAX_HISTORY=6400
START_BLOCK_HEIGHT=0

#Only select one of the options below, you either blacklist or whitelist (or none)
#BLOCKLIST=address1,address2,address3
#WHITELIST=address1,address2,address3

#Block payout frequency for a particular address (eg 75600 is around 7 days)
#CUSTOM_FREQUENCY = '{ "address1" : 75600 }'

#Your server
#NODES=[{host:"localhost", "port":4003}, {host:"x.x.x.x", "port":4003}]
NODE=localhost
PORT=4003
DB_USER=ark
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=password
DB_DATABASE=ark_mainnet
MAX_TRANSACTIONS_PER_REQUEST=40

#Your transactions
VENDORFIELD_MESSAGE=Daily payout - True Block Weight & Fair Fees.
VENDORFIELD_ADMINISTRATIVE_MESSAGE=Administrative Payout.
VENDORFIELD_ACF_MESSAGE=ACF Donation Payout.
